* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

  }

body, html {
    width: 100%;
}

.content{
    position:absolute;
    top: 60px;
    left:0px;
    width: 100%;
}

.container,.col, .row{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px ;
}

.card_pic{
    width: 100%;
}
